<div class="container-fluid container-fluid-custom py-md-1">
    <main>
        <div class="row text-center justify-content-center">
            <div class="col-md-12 col-lg-6">
                <h1 class="display-2 fw-bold mb-3 position-relative home-title"> Escribe todo lo que necesites recordar!</h1>
            <p class="fs-4 mb-4"> Bienvenido@ a mi app de notas, hecha con Node.js, Ejs & MongoDB.</p>
            </div>
            <div class="row py-md-5 text center justify-content-center">
            <a href="/auth/google" id="btn-notes" class="btn btn-primary btn-lg"> Let's Go!</a>
        </div>
        </div>
    </main>
</div>